<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="../_css/style.css" />
    <meta charset="UTF-8">
    <title>Cadastros</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul class="nav__links">
                    <li><a href="../views/new-user.html">Novo cadastro</a></li>
                    <li><a href="#">Atualizar existente</a></li>
                    <li><a href="../index.html">Pesquisa</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Contato</button></a>
        </header>
        <main>
            <div class="cadastro">
                <label for="nome">Nome: </label>
                <input type="text" id="nome" maxlength="50" placeholder="Nome Completo" />
                <label for="funcao">Função: </label>
                <input type="text" id="funcao" maxlength="50" placeholder="Função" />
                <label for="cidade">Cidade: </label>
                <input type="text" id="cidade" maxlength="50" placeholder="Cidade" />
                <button>Cadastrar</button>
            </div>
        </main>
        <aside></aside>
        <footer></footer>
</body>

</html>